/Alghoritm.class
/CatchHeuristic.class
/CumulativeHeuristic.class
/DistanceHeuristic.class
/Heuristic.class
/MinMax.class
/NegaScout$FinalConfigurationsComparator.class
/NegaScout$MoveComparator.class
/NegaScout$NearestToEnemycomparator.class
/NegaScout.class
/StandardHeuristic.class
/ZCumulativeHeuristicTest.class
/ZDistanceHeuristicTest.class
/ZMoveComparatorTest.class
/ZNearestEnemyTest.class
/ZNegaScoutTest.class
/NegaScout$NearestToMinecomparator.class
/NegaScout_v2.class
/ZTest.class
/MinMaxV2.class
/ZAlghTest.class
/CumulativeHeuristic_v2.class
